.Logout {
  position: absolute;
  top: 8px;
  right: 8px;
}

@mixin for-phone {
  @media (max-width: 999px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin for-big-desktop {
  @media (min-width: 1600px) {
    @content;
  }
}

#root {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: cornflowerblue;

  @include for-phone {
    min-height: 100vh;
    height: initial;
  }
}

.App {
  width: 1000px;
  padding-top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: floralwhite;
  border-radius: 2px;

  position: relative;

  @include for-phone {
    width: calc(100% - 16px);
    max-width: 900px;
    height: initial;
  }
}

.Tasks__categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  justify-content: center;
  align-items: center;
}

.Tasks {
  margin: 2em 0;
}

.Task__wording {
  background-color: initial;
  transition: 250ms background-color ease;
  border-bottom: 1px #e7e7e7 solid;
  padding-bottom: 0.25rem;
  width: 100%;
  margin-bottom: 0.5rem;

  &:hover {
    cursor: pointer;
    background-color: #f0ebe1;
    transition: 250ms background-color ease;
  }
}

.Tasks__category {

  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  overflow-y: auto;

  &:first-child, &:nth-child(3) {
    border-right: 1px solid gray;
  }

  &:first-child, &:nth-child(2) {
    border-bottom: 1px solid gray;
  }

  @include for-phone {
    text-align: center;
  }
}

.NewTask {

  &__text {
    border: none;
    padding: 4px 8px;
    border-radius: 2px;
  }

  &__action {
    text-align: center;
  }

  &__checkboxes {
    display: flex;
    justify-content: center;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px;
  }
}

.PrimaryButton {
  color: floralwhite;
  background-color: cornflowerblue;
  border: none;
  outline: none;
  padding: 4px;
  height: 32px;
  border-radius: 4px;

  min-width: 50px;

  cursor: pointer;
  transition: 250ms ease-in background-color;

  &:hover {
    background-color: #628ce2;
    transition: 250ms ease-in background-color;
  }
}
